<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body{
        background:green;
        }
    </style>
</head>
<body>
{#    {% if age < 18 %}#}
{#        <p>你是未成年人，不能进入</p>#}
{#    {% elif age == 18 %}#}
{#        <p>你是成年人，可以进入</p>#}
{#    {% else %}#}
{#        <p>你是成年了，要承担家庭责任</p>#}
{#    {% endif %}#}
    <ul>
        {% for book in books reversed %}
            <li>{{ book }}</li>
        {% endfor %}
    </ul>
    <ul>
        {% for key,value in person.items %}
            <li>{{ key }}:{{ value }}</li>
        {% endfor %}
    </ul>
    <table>
        <thead>
            <tr>
                <td>序号</td>
                <td>书名</td>
                <td>作者</td>
                <td>价格</td>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            {% if forloop.first %}
                <tr style="background: red;">
            {% elif forloop.last%}
                <tr style="background: pink;">
            {% else %}
                <tr>
            {% endif %}

                <td>{{ forloop.revcounter }}</td>
                <td>{{ book.name }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.price }}</td>
            <tr/>
        {% endfor %}
        
        </tbody>
    </table>
</body>
</html>