<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>

        .nav{
            overflow: hidden;
        }
        .nav li{
            float: left;
            list-style: none;
            margin: 0 20px;
        }
    </style>
</head>
<body>
    <ul class="nav">
        <li><a href="/">首页</a></li>
        <li><a href="{% url 'front:book' %}">读书</a></li>
        <li><a href="{% url 'front:movie' %}">电影</a></li>
        <li><a href="{% url 'front:city' %}">同城</a></li>
        <li><a href="{% url 'front:detail' book_id='1' %}">最火的一篇文章</a></li>
        <li><a href="{% url 'front:login' %}?next=/login">登录</a></li>

    </ul>
</body>
</html>